// Import Fonts
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap')

html
    overflow-x: hidden
    scroll-behaviour: smooth

*
    margin: 0
    padding: 0
    box-sizing: border-box

body
    background-color: #000
    font-family: 'Lato', sans-serif
    width: 100vw
    scroll-behaviour: smooth

// Partials
@import "_partials/buttons"
@import "_partials/titles"
@import "_partials/scrollbar"
