@import "_partials/_variables"

.navbar
    width: 100vw
    height: 15vh
    background: black
    display: flex
    justify-content: space-between
    align-items: center
    padding: 0 12.5vw
    position: fixed
    top: 0
    z-index: 10
    box-shadow: 0px 0px 20px rgba(255,255,255,0.05)

.brand
    display: flex
    align-items: center
    text-decoration: none

    h2
        color: $lightGrey
        font-weight: 300
        letter-spacing: .125em
        margin-left: 1em

.linkList
    display: flex
    align-items: center
    flex-direction: row
    list-style: none

.link
    color: $lightGrey
    font-size: 1rem
    text-decoration: none
    text-transform: uppercase
    font-weight: 300
    letter-spacing: .125em
    transition: color .3s ease-in-out

    &:hover
        color: rgba(168, 188, 255, 0.651)

.linkWithMargin
    margin-left: 2em

.activeLink
    color: $primary !important

.mobileNav
    width: 100vw
    height: 100vh
    background: rgba(0,0,0,0.95)
    position: fixed
    left: 0
    top: 0
    z-index: 30
    display: none
    justify-content: center
    align-items: center

    ul
        display: flex
        flex-direction: column
        align-items: center

        li
            margin-bottom: 2em

            a
                text-decoration: none
                color: $lightGrey
                text-transform: uppercase
                font-weight: 300
                letter-spacing: .125em

.menuIcon
    color: $lightGrey
    font-size: 1.75rem
    display: none

.closeIcon
    color: $lightGrey
    font-size: 2.5rem
    position: absolute
    right: 10vw
    top: 10vw

    &:hover
        color: #ff4444

@media screen and (max-width:1572px)
    .navbar
        padding: 0 8.5vw

    .link
        font-size: .9rem

@media screen and (max-width: 1282px)
    .brand
        h2
            font-size: 1.25rem

        img
            width: 60px !important
            height: 60px !important

    .linkWithMargin
        margin-left: 1.5em

@media screen and (max-width: 1142px)
    .linkList
        display: none

    .menuIcon
        display: block

@media screen and (max-width: 502px)
    .brand
        h2
            display: none
