@import "_partials/variables"

.grid
    display: grid
    grid-template-columns: 1fr 1fr
    height: 100vh
    padding: 15vh 0 0 0

.leftSide
    background: url("/images/backgrounds/left-side-bg.jpg") center/cover no-repeat

.rightSide
    background: url("/images/backgrounds/right-side-bg.jpg") center/cover no-repeat

.leftSide, .rightSide
    background-position: center
    background-repeat: no-repeat
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    opacity: 0.75
    transition: .3s ease-in-out

    div
        margin: 2em 0

.leftSide:hover, .rightSide:hover
    opacity: 1

.firstBtn
    margin-right: 2em

.paragraph
    color: rgba($lightGrey, .75)
    width: 65%
    margin: 0 auto 2.5vh auto
    font-size: 1.5rem
    font-weight: 300
    text-align: center
    line-height: 1.75em
    letter-spacing: .05em

.aboutTheProduct
    background-image: url("/images/backgrounds/about-the-product-bg.jpg")
    background-position: center
    background-repeat: no-repeat
    background-attachment: fixed
    background-size: cover
    height: 20vh
    display: flex
    justify-content: center
    align-items: center

    h1
        font-size: 2.25rem
        color: #fff
        text-transform: uppercase
        font-weight: 100
        letter-spacing: .125em

.commonApplications
    padding: 10vh 12.5vw
    background-image: url("/images/backgrounds/common-application-bg.jpg")
    background-position: center
    background-repeat: no-repeat
    background-attachment: fixed
    background-size: cover

.applicationList
    display: grid
    grid-template-columns: repeat(3, 1fr)
    gap: 1.5em
    width: 65%
    margin: 1em auto 0 auto

.application
    width: 100%
    height: 60px
    background: rgba(255,255,255,0.2)
    display: flex
    justify-content: center
    align-items: center

    span
        color: #fff
        font-weight: 300
        letter-spacing: .125em

.guaranteeSection
    background: rgba(255,255,255,0.2)
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    width: 65%
    margin: 3em auto 0 auto
    padding: 3em 2em

.star
    color: $primary
    font-size: 2rem
    margin: 0 .5em

.guaranteeHeading
    color: #fff
    font-weight: 300
    letter-spacing: .125em
    font-size: 1.5rem
    display: flex
    align-items: center
    margin: 0 0 .75em 0

.guaranteeParagraph
    color: $lightGrey
    font-weight: 300
    letter-spacing: .125em
    font-size: 1.1rem
    width: 74.5%
    text-align: center
    line-height: 1.75em
    margin-bottom: 1.5em

.guaranteeSmallText
    color: darken($lightGrey, 10%)
    font-size: .9rem

@media screen and (max-width: 1143px)
    .leftSide, .rightSide
        opacity: 1

    .paragraph
        font-size: 1.375rem

@media screen and (max-width: 1070px)
    .leftSide, .rightSide
        padding: 10vh 0

        &> div:first-of-type
            left: 0
            transform: none

    .grid
        grid-template-columns: 1fr
        height: fit-content

@media screen and (max-width: 572px)
    .leftSide, .rightSide

        &> div:last-of-type
            display: flex
            flex-direction: column
            margin: 1em 0 0 0

    .firstBtn
        margin-right: 0px
        margin-bottom: 2em
