@import "_partials/mixins"
@import "_partials/_variables"

.paragraph
    text-align: center
    @include paragraph()
    width: 42.5%
    margin: 0 auto 7.5vh auto

.imgContainer
    position: relative
    width: 65vw
    margin: 0 auto 10vh auto
    height: 23vh

.learnMoreBtn
    position: relative
    left: 50%
    transform: translateX(-50%)
    margin-bottom: 15vh
