@import "_partials/variables"
@import "_partials/mixins"

.whoWeAreSection
    padding: 10vh 12.5vw 5vh 12.5vw

.sectionGrid
    display: grid
    grid-template-columns: 1fr 1fr

.content
    width: 100%

.paragraph
    @include paragraph()

.imgContainer
    width: 20.83vw
    height: 20.83vw
    position: relative
    left: 60%
    top: 35%
    transform: translate(-50%, -50%)

@media screen and (max-width: 1572px)
    .whoWeAreSection
        padding: 10vh 8.5vw 5vh 8.5vw

@media screen and (max-width: 1142px)
    .paragraph
        font-size: .9rem

@media screen and (max-width: 1070px)
    .sectionGrid
        grid-template-columns: 1fr

    .content
        width: 65%
        margin: 0 auto

    .paragraph
        text-align: center

    .imgContainer
        width: 25vw
        height: 25vw
        left: 50%
        top: 60%

    .whoWeAreSection
        padding: 10vh 8.5vw 10vh 8.5vw

@media screen and (max-width: 738px)
    .imgContainer
        width: 50vw
        height: 50vw

    .content
        width: 80%
